{% extends 'customers/base.html' %}
{% block style %}
    {{super()}}
    <style>
        main {
            flex-grow: 1;
            padding: 10px 0px;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 3px;
            justify-content: center;
            align-items: center;
        }

        main .msg{
            width: fit-content;
            max-width: 600px;
            padding: 5px;
            min-height: 40px;
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .error{
            background-color: red;
        }

        .success{
            background-color: rgb(76, 218, 41);
        }

        form{
            background-color: #fff;
            box-shadow: 1px 2px 10px 3px #919191d9;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            color: tomato;
        }

        form .group{
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            padding: 5px;
        }

        form .group label{
            font-size: 1.3em;
        }

        form .group input{
            height: 40px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #eee;
            outline: none;
            font-family: Roboto;
            width: 100%;
        }

        form .group .inputbx{
            position: relative;
            display: flex;
            align-items: center;
        }

        .fa-eye-slash{
            position: absolute;
            right: 10px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }

        form .group input:focus{
            border: 1px solid tomato;
        }

        input#submit{
            outline: none;
            border: none;
            background-color: tomato;
            padding: 10px;
            color: #fff;
            font-size: 1.3em;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            cursor: pointer;
        }

        input#submit:hover{
            background-color: rgb(240, 72, 43);
            box-shadow: 1px 3px 5px 3px #ccc;
        }
    </style>
{% endblock %}

{% block main %}
<div class="msg">
</div>
<form action="" id="form">
    <h3 style="text-align: center;">Add new contact</h3>
    <hr>
    <div class="group">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" id="fullname" placeholder="Jhon Doe" required>
    </div>
    <div class="group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="(225)0101010101" required>
    </div>
    <input type="submit" value="Add Contact" id="submit">
</form>
{% endblock %}

{% block script %}
    {{super()}}
    <script>
        let form = document.querySelector('#form')
        let btn = document.querySelector('#submit')
        var obj = {};
	
    btn.addEventListener('click', function(e){
        e.preventDefault();

        var formData = new FormData(form);
        for (var key of formData.keys()) {
            obj[key] = formData.get(key);
        }
        console.log(obj)
        $.post('newcontact', obj, function(result){
            if(result.succes=true){
                window.location.href = "/contacts"
                }
            })
    })
    </script>
{% endblock %}