{% extends 'customers/base.html' %}
{% block style %}
{{super()}}
<style>
</style>
{% endblock %}

{% block main %}
<h3 class="title">Calls</h3>
<div class="call_list">
    <form action="" method="post" id="myForm">
        <div class="formBx">
            <input type="search" name="search" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

    </form>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone" style="color:rgb(16, 36, 255)"></i>
            <p class="name">Gf Arsène</p>
            <p class="number">(225)0101010101</p>
            <p class="time">22:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Unknown</p>
            <p class="number">(225)0101010101</p>
            <p class="time">17:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-volume" style="color:green"></i>
            <p class="name">Jm the M</p>
            <p class="number">(225)0101010101</p>
            <p class="time">12:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Ma voisine</p>
            <p class="number">(225)0101010101</p>
            <p class="time">11:40</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone" style="color:rgb(16, 36, 255)"></i>
            <p class="name">Kabson</p>
            <p class="number">(225)0101010101</p>
            <p class="time">11:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-volume" style="color:green"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-volume" style="color:green"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-volume" style="color:green"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
    <a href="contact.html">
        <div class="contact">
            <i class="fa-solid fa-phone-slash" style="color:red"></i>
            <p class="name">Mr Sam</p>
            <p class="number">(225)0101010101</p>
            <p class="time">10:00</p>
        </div>
    </a>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script>
</script>
{% endblock %}