{% extends 'base.html' %}
{% block style %}
    {{super()}}
    <style>
        form .group .inputbx{
            position: relative;
            display: flex;
            align-items: center;
        }

        .fa-eye-slash{
            position: absolute;
            right: 10px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }
    </style>
{% endblock %}

{% block main %}
{{super()}}
<p class="info"></p>
<form action="" id="myForm" method="post">
    <h3 style="text-align: center;">Asterisk AMI - Validation</h3>
    <hr>
    <div class="group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="(225)0101010101">
    </div>
    <div class="group">
        <label for="code">Code</label>
        <input type="text" name="code" id="code" placeholder="AAMI-0000">
    </div>
    <input type="submit" value="Validate" id="submit">
</form>
{% endblock %}

{% block script %}
    {{super()}}
     <script>
        let form = document.querySelector('#myForm')
        let btn = document.querySelector('#submit')
        var obj = {};
	
    btn.addEventListener('click', function(e){
        e.preventDefault();

        var formData = new FormData(form);
        for (var key of formData.keys()) {
            obj[key] = formData.get(key);
        }
        console.log(obj)
        $.post('confirm', obj, function(result){
            if(result.succes=true){
                    window.location.href = "/login"
                }
            })
    })
    </script>
{% endblock %}