{% extends 'base.html' %}
{% block style %}
    {{super()}}
    <style>
    </style>
{% endblock %}

{% block main %}
{{super()}}
<form action="" id="myForm" method="post">
    <h3 style="text-align: center;">Asterisk AMI - SignIn</h3>
    <hr>
    <div class="group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="+2250101010101" value="{{request.form.get('phone','')}}">
    </div>
    <div class="group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="**********">
    </div>
    <input type="submit" value="SignIn" id="submit">
    <a href="#" class="reset">Reset password?</a>
</form>
{% endblock %}

{% block script %}
    {{super()}}
    <script>
        let form = document.querySelector('#myForm')
        let btn = document.querySelector('#submit')
        var obj = {};
	
    btn.addEventListener('click', function(e){
        e.preventDefault();

        var formData = new FormData(form);
        for (var key of formData.keys()) {
            obj[key] = formData.get(key);
        }
        console.log(obj)
        $.post('login', obj, function(result){
            if(result.succes=true){
                window.location.href = "/dashboard"
                }
            })
    })
    </script>
{% endblock %}