{% extends 'base.html' %}
{% block style %}
    {{super()}}
    <style>
        form .group .inputbx{
            position: relative;
            display: flex;
            align-items: center;
        }

        .fa-eye-slash{
            position: absolute;
            right: 10px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
        }

        .errorpass{
            border: 1px solid tomato !important;
        }
    </style>
{% endblock %}

{% block main %}
{{super()}}
<p class="info"></p>
<form action="" id="myForm">
    <h3 style="text-align: center;">Asterisk AMI - SignUp</h3>
    <hr>
    <div class="group">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" id="fullname" placeholder="Jhon Doe" required>
    </div>
    <div class="group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="+2250101010101" required>
    </div>
    <div class="group">
        <label for="password">Password</label>
        <div class="inputbx">
            <input type="password" name="password" id="password" placeholder="**********" required>
            <i class="fa-regular fa-eye-slash" id="eye"></i>
        </div>
    </div>
    <div class="group">
        <label for="cpassword">Retype password</label>
        <input type="password" name="cpassword" id="cpassword" placeholder="**********" required>
    </div>
    <input type="submit" value="SignUp" id="submit">
</form>
{% endblock %}

{% block script %}
    {{super()}}
    <script>
        document.querySelector('#eye').addEventListener('click',function(){
        document.querySelector('#eye').classList.toggle('fa-eye')

        if(document.querySelector('#eye').classList.contains('fa-eye')){
            document.querySelector("#password").type="text"
        }else{
            document.querySelector("#password").type="password"
        }
    })
    </script>
    <script>
    let form = document.querySelector('#myForm')
    let btn = document.querySelector('#submit')
    var obj = {};
	
    btn.addEventListener('click', function(e){
        e.preventDefault();

        var formData = new FormData(form);
        for (var key of formData.keys()) {
            obj[key] = formData.get(key);
        }
        
        if(obj["password"] != obj["cpassword"]){
            document.querySelector("#password").classList.add('errorpass')
            document.querySelector("#cpassword").classList.add('errorpass')
            alert("Passwords don't match")
        }else{
            document.querySelector("#password").classList.remove('errorpass')
            document.querySelector("#cpassword").classList.remove('errorpass')

            console.log(formData, obj)
            $.post('register', obj, function(result){
                console.log(result)
                if(result.succes=true){
                    document.querySelector(".info").innerHTML=result.msg
                }
            })
        }
        
    })
    
</script>
{% endblock %}